<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU67cWkx8s6wFwobmWqm8w6NbEJAkeF2A</string>
	<key>GCM_SENDER_ID</key>
	<string>840014416024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ottersync</string>
	<key>PROJECT_ID</key>
	<string>ottersync-b4833</string>
	<key>STORAGE_BUCKET</key>
	<string>ottersync-b4833.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840014416024:ios:25e40acfbf4c058129a8ed</string>
</dict>
</plist>